 	<!-- Start Header -->
	<header id="mu-header" class="all" role="banner">
		<div class="mu-header-overlay">
			<div class="container">
				<div class="mu-header-area">

					<!-- Start Logo -->
					<div class="mu-logo-area">
						<!-- text based logo -->
						<a class="mu-logo" href="#">ImagemDaLogo</a>
						<!-- image based logo -->
						<!-- <a class="mu-logo" href="#"><img src="assets/images/logo.png" alt="logo img"></a> -->
					</div>
					<!-- End Logo -->

					<!-- Start header featured area -->
					<div class="mu-header-featured-area">
						<div class="mu-header-featured-img">
							<img src="../../../assets/images/img_app_home.png" alt="app home page">
						</div>

						<div class="mu-header-featured-content">
							<h1>Bem vindo ao <span>DeVan App</span></h1>
							<p>O DeVan traz um jeito inovador, rápido e inteligente de conectar motoristas e passageiros de vans particulares, escolares ou universitárias! </p>

							<div class="mu-app-download-area">
								<h4>Download Do App</h4>
								<a class="mu-apple-btn" href="#"><i class="fa fa-apple"></i><span>apple store</span></a>
								<a class="mu-google-btn" href="#"><i class="fa fa-android"></i><span>google play</span></a>
								<!-- <a class="mu-windows-btn" href="#"><i class="fa fa-windows"></i><span>windows store</span></a> -->
							</div>

						</div>
					</div>
					<!-- End header featured area -->

				</div>
			</div>
		</div>
	</header>
	<!-- End Header -->
<app-menu></app-menu>
