<!-- Start Menu -->
<button class="mu-menu-btn">
  <span class="fa fa-align-justify"></span>
</button>

<div class="mu-menu-full-overlay">
  <div class="mu-menu-full-overlay-inner">
    <a class="mu-menu-close-btn" href="#"><span class="mu-line"></span></a>
    <nav class="mu-menu" role="navigation">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Características</a></li>
        <li><a href="#">Video</a></li>
        <li><a href="#">Imagens</a></li>
        <li><a href="#">Download</a></li>
        <li><a href="#">Perguntas</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- End Menu -->