<!-- Start Feature -->
<section id="mu-feature">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-feature-area">

					<div class="mu-title-area">
						<h2 class="mu-title">CARACTERÍSTICAS</h2>
						<span class="mu-title-dot"></span>
						<p>Com o DeVan, o passageiro comunica de forma rápida com o motorista se vai ou não vai utilizar o transporte naquele dia, evitando trajetos descenessários. Desta forma o DeVan permite ao motorista proporcionar aos passageiros um transporte  muito mais rápido e eficiente. Baixem o DeVan e aproveite, é totalmente gratuito! E compartilhe seu feedBack conosco. </p>
					</div>






			
					<div class="mu-feature-content">
						<div class="row">
							<div class="col-md-6">
								<div class="mu-feature-content-left">
									<img class="mu-profile-img" src="../../../assets/images/img_features.png" alt="iphone Image">
								</div>
							</div>



							<div class="col-md-6">
								<div class="mu-feature-content-right">






											
									<div class="media">
				                        <div class="media-left">
				                        	<button class="btn mu-feature-btn btn-circle" type="button">
				                        		<i class="fa fa-apple" aria-hidden="true"></i>
				                        	</button>
				                        </div>
				                        <div class="media-body">
					                        <h3 class="media-heading">Evite trajetos desnecessários</h3>
					                        <p>descrição: asldkas ldak alskdla laskdkalkdlas laskd laskd alskd alskd lasdk aldkl l dkaldka lakdaslkdlaskd alsdkasldkalsdkasld ladklsakdlakd laskdaldkaalsdka slkd saldkaslddl.</p>
				                        </div>
				                    </div>
						      





									<div class="media">
				                        <div class="media-left">
				                        	<button class="btn mu-feature-btn" type="button">
				                        		<i class="fa fa-apple" aria-hidden="true"></i>
				                        	</button>
				                        </div>
				                        <div class="media-body">
					                        <h3 class="media-heading">caracteristica 2</h3>
					                        <p>descrição: asldkas ldak alskdla laskdkalkdlas laskd laskd alskd alskd lasdk aldkl l dkaldka lakdaslkdlaskd alsdkasldkalsdkasld ladklsakdlakd laskdaldkaalsdka slkd saldkaslddl.</p>
				                        </div>
				                    </div>





						                   
									<div class="media">
				                        <div class="media-left">
				                        	<button class="btn mu-feature-btn" type="button">
				                        		<i class="fa fa-apple" aria-hidden="true"></i>
				                        	</button>
				                        </div>
				                        <div class="media-body">
					                        <h3 class="media-heading">caracteristica 3</h3>
					                        <p>descrição: asldkas ldak alskdla laskdkalkdlas laskd laskd alskd alskd lasdk aldkl l dkaldka lakdaslkdlaskd alsdkasldkalsdkasld ladklsakdlakd laskdaldkaalsdka slkd saldkaslddl.</p>
				                        </div>
				                    </div>
						    





									<div class="media">
				                        <div class="media-left">
				                        	<button class="btn mu-feature-btn" type="button">
				                        		<i class="fa fa-apple" aria-hidden="true"></i>
				                        	</button>
				                        </div>
				                        <div class="media-body">
					                        <h3 class="media-heading">caracteristica 4</h3>
					                        <p>descrição: asldkas ldak alskdla laskdkalkdlas laskd laskd alskd alskd lasdk aldkl l dkaldka lakdaslkdlaskd alsdkasldkalsdkasld ladklsakdlakd laskdaldkaalsdka slkd saldkaslddl.</p>
				                        </div>
				                    </div>						                  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Feature -->
